<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="ion-padding">
  <ion-item>
    <ion-label color="primary">Usuario</ion-label>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="usuario.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Contraseña</ion-label>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="usuario.password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Email</ion-label>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="usuario.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button expand="block" (click)="registrarse()" >Registrar</ion-button>
  </ion-item>

</ion-content>
